.modal-dialog {
    width: 473px;
}
.modal-header {
    padding: 20px 20px 0 0;
    border: none;
}
.modal-body {
    padding: 16px 60px 60px 60px;
}
.modal-body > h5 {
    font-size: 36px;
    font-family: 'Rawline Bold';
    margin-bottom: 8px;
}
#modal-form >  button {
    margin-top: 30px;
    margin-left: 0;
}
.modal-footer_text {
    margin-top: 10px;
    font-size: 13px;
    color: #8F8F8F;
}
#login_modal {
    display: flex;
    flex-direction: column;
    
}
.modal-input_name {
    margin-bottom: 30px;
    
}
.modal-input_name::placeholder {
    color: black;
    padding-left: 5px;
    padding-bottom: 5px;
}
.modal-input_name, #phone_modal {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid black;
    width: 354px;
    
}


